@charset "UTF-8";
body {
  background-color: white;
  color: rgb(0, 0, 0);
}

body.dark-mode {
  background-color: #242424;
  color: #f5f5f5;
}
body.dark-mode .letter-black {
  color: #f5f5f5;
}

body.light-mode {
  background-color: white;
  color: rgb(0, 0, 0);
}

body.dark-mode {
  background-color: #242424;
  color: #f5f5f5;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#mode {
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

header {
  width: 100%;
  background-color: #DC851F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  flex-grow: 1;
}

main {
  height: 85%;
  width: 100%;
}

.form {
  background-color: rgba(204, 204, 204, 0.8);
  width: 70%;
  height: 90%;
  border-radius: 0.4375rem;
  display: flex;
  justify-content: space-around;
  padding-top: 0;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding: 1.25rem;
}

.links {
  height: 30%;
}

#register {
  justify-content: space-around;
  text-align: center;
  height: 20%;
}

input {
  width: 50%;
  margin-top: 5%;
}

.letter-black {
  margin-top: 1%;
  margin-bottom: 2%;
  color: rgb(0, 0, 0);
}

.row {
  display: flex;
  flex-direction: row;
}

.boton {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 150%;
  text-align: center;
  background-color: #DC851F;
  border-radius: 2.5rem;
  padding: 0.625rem;
  width: 100%;
  transition: all 0.3s ease;
}

.center {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.center2 {
  justify-content: center;
  padding-bottom: 3%;
}

.boton2 {
  text-decoration: none;
  font-weight: bold;
  font-size: 200%;
  text-align: center;
  background-color: #DC851F;
  color: white;
  border-radius: 2.5rem;
  padding: 0.625rem;
  width: 30%;
  height: 30%;
  margin: 0.625rem;
  background-color: #DC851F;
  transition: all 0.3s ease;
}
.boton2:hover {
  background-color: #0c2a4a;
  transform: scale(1.1);
}

.center-boton {
  text-align: center;
  background-color: #DC851F;
  border-radius: 2.5rem;
  padding: 0.625rem;
  width: 30%;
  margin: auto;
  transition: all 0.3s ease;
}
.center-boton img {
  width: 100%;
  height: 18.75rem;
  object-fit: cover;
}
.center-boton a {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 150%;
  text-decoration: none;
}

.bottons {
  display: flex;
  justify-content: center;
  height: 40%;
  width: 100%;
}

.titles {
  height: 60%;
  width: 100%;
}

.multiple-option {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: row;
  padding-left: 0.625rem;
  border-radius: 0.625rem;
  background-color: rgb(194, 225, 252);
  margin-bottom: 0.625rem;
  padding: 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  margin-left: 0.625rem;
}

img {
  border-radius: 0.625rem;
}

.paw {
  height: 1.3125rem;
  /* Ajusta este valor según tus necesidades */
  width: auto;
  /* Esto mantendrá las proporciones de la imagen */
}

.text {
  font-size: 80%;
}

.card-img-top {
  object-fit: cover;
}

#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DC851F;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  left: -100%;
  width: 75%;
  height: 90%;
  transition: left 0.3s ease-out;
}
#menu li {
  float: left;
  list-style-type: none;
  margin-right: 0.625rem;
}
#menu li a {
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  padding: 0.875rem 1rem;
  transition: all 0.3s ease;
}
#menu li a:hover {
  background-color: #111;
}

.title-adoptar {
  margin-top: 5%;
}

.adoptar {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.625rem;
  margin-top: 10%;
}

.propiedades {
  font-size: 2em;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-bottom: 0.625rem;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, #007BFF, #00FF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#menu-btn {
  display: none;
}

.hamburger {
  display: none;
  font-size: 1.875rem;
  background: none;
  border: none;
  color: white;
}

@media screen and (max-width: 37.5rem) {
  main {
    height: 94%;
    width: 100%;
    background-image: url("../assets/phone_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  header {
    height: 6%;
  }
  .bottons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
  }
  .center-boton {
    width: fit-content;
  }
  .center-boton img {
    display: none;
  }
  .ocultar {
    display: none;
  }
  .hamburger {
    display: block;
  }
  #menu {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
  }
  #menu li a {
    text-align: left;
    padding: 0.625rem;
  }
  #menu-btn:checked ~ #menu {
    left: 0;
  }
  .switch {
    display: none;
  }
}
@media (min-width: 37.51rem) {
  #menu {
    width: 100%;
    position: relative;
    left: 0;
    height: auto;
    display: flex;
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
