// Definición de variables de color
$font-family-1: 'Nunito', sans-serif;
$font-family-2: 'Roboto', sans-serif;
$background-color-body: #111;
$background-color-header: rgba(0, 0, 0, 0.8); // Agregamos transparencia al header
$background-color-form: rgba(204, 204, 204, 0.8); // Agregamos transparencia al formulario
$color-letter-white: aliceblue;
$background-color-boton: rgba(242, 242, 242, 0.5); // Agregamos transparencia al botón
$background-color-boton2: #007BFF;
$color-boton2: white;
$background-color-hover-boton2: #0c2a4a;
$background-color-menu: #333;
$background-color-hover-menu: #111;
$background-color-grid-body: #f8f9fa;
$color-grid-h1: #007bff;
$background-color-grid-p: #6c757d;
$color-white: white;

// Estilos globales
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-1;
    font-family: $font-family-2;
}

// Estilos del cuerpo
body {
    margin: 0;
    padding: 1%;
    height: 100vh;
    width: 100vw;
    background-color: $background-color-body;
}

// Estilos del encabezado
header {
    height: 10%;
    width: 100%;
    background-color: $background-color-header;
    display: flex;
    flex-direction: row;
    justify-content: space-between; // Agregamos espacio entre los elementos
    padding: 20px; // Agregamos padding
}

nav {
    flex-grow: 1;
}

// Estilos del contenido principal
main {
    height: 85%;
    width: 100%;
    background-image: url("../assets/desktop_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px; // Agregamos padding
}

// Estilos del formulario
.form {
    background-color: $background-color-form;
    width: 70%;
    height: 90%;
    border-radius: 7%;
    display: flex;
    justify-content: space-around;
    padding-top: 0;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding: 20px; // Agregamos padding
}

.links {
    height: 30%;
}

#register {
    justify-content: space-around;
    text-align: center;
    height: 20%;
}

input {
    width: 50%;
    margin-top: 5%;
}

footer {
    height: 5%;
    width: 100%;
    background-color: $background-color-form;
    padding: 20px; // Agregamos padding
}

.letter-white {
    padding-top: 2%;
    color: $color-letter-white;
}

.boton {
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    background-color: $background-color-boton;
    border-radius: 40px;
    padding: 10px;
    width: 100%;
    transition: all 0.3s ease; // Agregamos transición para un efecto suave al pasar el mouse
}

.center{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.center2{
    justify-content: center;
    padding-bottom: 3%;
}

.boton2 {
    font-weight: bold;
    font-size: 200%;
    text-align: center;
    background-color: $background-color-boton2;
    color: $color-boton2;
    border-radius: 40px;
    padding: 10px;
    width: 30%;
    height: 30%;
    margin: 10px;
    background-color: $background-color-boton2;
    transition: all 0.3s ease; // Agregamos transición para un efecto suave al pasar el mouse

    &:hover {
        background-color: $background-color-hover-boton2;
        transform: scale(1.1); // Agregamos una escala al botón para que se agrande al pasar el mouse
    }
}


.center-boton {
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    background-color: $background-color-boton;
    border-radius: 40px;
    padding: 10px;
    width: 30%;
    height: 30%;
    margin: auto;
    transition: all 0.3s ease; // Agregamos transición para un efecto suave al pasar el mouse
}

.botton-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 100%;
}

.bottons {
    display: flex;
    justify-content: center;
    height: 40%;
    width: 100%;
}

.titles {
    height: 60%;
    width: 100%;
}

.multiple-option {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    border-radius: 10px;
    background-color: rgb(194, 225, 252);
    margin-bottom: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

img {
    border-radius: 10px;
}

.text {
    font-size: 80%
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $background-color-menu;
    width: 100%;
    display: flex;
    justify-content: space-around;

    li {
        float: left;
        list-style-type: none;
        margin-right: 10px;

        a {
            display: block;
            color: $color-white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: all 0.3s ease; // Agregamos transición para un efecto suave al pasar el mouse

            &:hover {
                background-color: $background-color-hover-menu;
            }
        }
    }
}

.title-adoptar{
    margin-top: 5%;
}

.adoptar{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 10%;
}


// Estilos para los títulos del formulario
.propiedades {
    font-size: 2em; // Aumentamos el tamaño de la fuente
    font-weight: bold; // Hacemos la fuente en negrita
    color: $color-letter-white; // Cambiamos el color de la fuente
    margin-bottom: 10px; // Agregamos un margen inferior para separar el título de las opciones
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); // Agregamos una sombra al texto para que resalte más
    background: linear-gradient(to right, #007BFF, #00FF00); // Agregamos un gradiente de color al fondo del texto
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 600px) {
    main {
        height: 85%;
        width: 100%;
        background-image: url("../assets/phone_background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}