// Definición de variables de color
$font-family-1: 'Nunito', sans-serif;
$background-color-body: white;
$background-color-header: #DC851F;
$background-color-form: rgba(204, 204, 204, 0.8); // Agregamos transparencia al formulario
$color-letter-white: rgb(0, 0, 0);
$background-color-boton: #DC851F; // Agregamos transparencia al botón
$background-color-boton2: #DC851F;
$color-boton2: white;
$background-color-hover-boton2: #0c2a4a;
$background-color-menu: #DC851F;
$background-color-hover-menu: #111;
$background-color-grid-body: #f8f9fa;
$color-grid-h1: #007bff;
$background-color-grid-p: #6c757d;
$color-white: white;

$background-color-body-dark: #242424;


$color-letter-white-dark: #f5f5f5;
$background-color-boton-dark: #424242;




//Dark mode
$theme: 'light'; // Puedes cambiar esto a 'dark' para el modo oscuro

@if $theme == 'light' {
  body {
    background-color: $background-color-body;
    color: $color-letter-white;
    // Agrega aquí el resto de tus estilos para el modo claro
  }
} @else if $theme == 'dark' {
  body {
    background-color: $background-color-body-dark;
    color: $color-letter-white-dark;
    // Agrega aquí el resto de tus estilos para el modo oscuro
  }
}


// Definición de variables de color para el modo oscuro
body.dark-mode {
    background-color: $background-color-body-dark;
    color: $color-letter-white-dark;
  
    .letter-black {
      color: $color-letter-white-dark;
    }
}

// Define a mixin that applies the correct color set based on the mode
@mixin color-mode($mode) {
  @if $mode == 'light' {
    background-color: $background-color-body;
    color: $color-letter-white;
  } @else if $mode == 'dark' {
    background-color: $background-color-body-dark;
    color: $color-letter-white-dark;

  }
}

// Use the mixin to define styles for light mode
body.light-mode {
  @include color-mode('light');
}

// Use the mixin to define styles for dark mode
body.dark-mode {
  @include color-mode('dark');
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#mode {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}
//End of dark mode
// Estilos globales
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-1;
}

// Estilos del cuerpo
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: $background-color-body;
}

// Estilos del encabezado
header {
    width: 100%;
    background-color: $background-color-header;
    display: flex;
    flex-direction: row;
    justify-content: space-between; // Agregamos espacio entre los elementos
}

nav {
    flex-grow: 1;
}

// Estilos del contenido principal
main {
    height: 85%;
    width: 100%;
}

// Estilos del formulario
.form {
    background-color: $background-color-form;
    width: 70%;
    height: 90%;
    border-radius: 0.4375rem;
    display: flex;
    justify-content: space-around;
    padding-top: 0;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding: 1.25rem; // Agregamos padding
}

.links {
    height: 30%;
}

#register {
    justify-content: space-around;
    text-align: center;
    height: 20%;
}

input {
    width: 50%;
    margin-top: 5%;
}

.letter-black {
    margin-top: 1%;
    margin-bottom: 2%;
    color: $color-letter-white;
}

.row {
    display: flex;
    flex-direction: row;
}

.boton {
    text-decoration: none;
    text-transform: uppercase;
    color: $color-white;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    background-color: $background-color-boton;
    border-radius: 2.5rem;
    padding: 0.625rem;
    width: 100%;
    transition: all 0.3s ease; // Agregamos transición para un efecto suave al pasar el mouse
}

.center {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.center2 {
    justify-content: center;
    padding-bottom: 3%;
}

.boton2 {
    text-decoration: none;
    font-weight: bold;
    font-size: 200%;
    text-align: center;
    background-color: $background-color-boton2;
    color: $color-boton2;
    border-radius: 2.5rem;
    padding: 0.625rem;
    width: 30%;
    height: 30%;
    margin: 0.625rem;
    background-color: $background-color-boton2;
    transition: all 0.3s ease; // Agregamos transición para un efecto suave al pasar el mouse

    &:hover {
        background-color: $background-color-hover-boton2;
        transform: scale(1.1); // Agregamos una escala al botón para que se agrande al pasar el mouse
    }
}


.center-boton {


    text-align: center;
    background-color: $background-color-boton;
    border-radius: 2.5rem;
    padding: 0.625rem;
    width: 30%;
    margin: auto;
    transition: all 0.3s ease; // Agregamos transición para un efecto suave al pasar el mouse
    img {
        width: 100%;
        height: 18.75rem;
        object-fit: cover;
    }
    a{
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        font-size: 150%;
        text-decoration: none;
    }

}




.bottons {
    display: flex;
    justify-content: center;
    height: 40%;
    width: 100%;
}

.titles {
    height: 60%;
    width: 100%;
}

.multiple-option {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: row;
    padding-left: 0.625rem;
    border-radius: 0.625rem;
    background-color: rgb(194, 225, 252);
    margin-bottom: 0.625rem;
    padding: 0;
}

.card-content {
    display: flex;
    flex-direction: column;
    margin-left: 0.625rem;
}

img {
    border-radius: 0.625rem;
}

.paw {
    height: 1.3125rem;
    /* Ajusta este valor según tus necesidades */
    width: auto;
    /* Esto mantendrá las proporciones de la imagen */

}

.text {
    font-size: 80%
}
.card-img-top{
    object-fit: cover;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $background-color-menu;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: -100%;
    width: 75%; // Puedes ajustar esto a lo ancho que quieras que sea el menú
    height: calc(90%);
    transition: left 0.3s ease-out;

    li {
        float: left;
        list-style-type: none;
        margin-right: 0.625rem;

        a {

            text-decoration: none;
            display: block;
            color: $color-white;
            text-align: center;
            padding: 0.875rem 1rem;
            transition: all 0.3s ease; // Agregamos transición para un efecto suave al pasar el mouse

            &:hover {
                background-color: $background-color-hover-menu;
            }
        }
    }
}

.title-adoptar {
    margin-top: 5%;
}

.adoptar {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.625rem;
    margin-top: 10%;
}


// Estilos para los títulos del formulario
.propiedades {
    font-size: 2em; // Aumentamos el tamaño de la fuente
    font-weight: bold; // Hacemos la fuente en negrita
    color: $color-letter-white; // Cambiamos el color de la fuente
    margin-bottom: 0.625rem; // Agregamos un margen inferior para separar el título de las opciones
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5); // Agregamos una sombra al texto para que resalte más
    background: linear-gradient(to right, #007BFF, #00FF00); // Agregamos un gradiente de color al fondo del texto
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu-btn {
    display: none;
}

.hamburger {
    display: none;
    font-size: 1.875rem;
    background: none;
    border: none;
    color: $color-white; // O el color que prefieras
}


@media screen and (max-width: 37.5rem) {

    main {
        height: 94%;
        width: 100%;
        background-image: url("../assets/phone_background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    header{
        height: 6%;
    }
    .bottons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80vh;
    }

    .center-boton {
        width: fit-content;

        img {
            display: none;
        }
    }


   .ocultar {
        display: none;
    }

    .hamburger {
        display: block;
    }

    #menu {
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 100%;

        li {
            a {
                text-align: left;
                padding: 0.625rem;
            }
        }
    }

    #menu-btn:checked~#menu {
        left: 0;
    }
    .switch{
        display: none;
    }

}

@media (min-width: 37.51rem) {
    #menu {
        width: 100%;
        position: relative;
        left: 0;
        height: auto;
        display: flex;
        flex-direction: row;
    }
}
